//- import libs js

script(src='/vendor/.js')
script(src='jquery-1.4.4.min.js").wait()
script(src='jquery.tmpl.min.js")
script(src='backbone-min.js")
script(src='cacheprovider.js").wait()
script(src='gallery.js");

